<h1>Dragonball</h1>

<section class="row">
  <div class="col-12 col-sm-6">
    <h2>Agregar personaje</h2>
    <h3>Nombre: {{ name() }}</h3>
    <input
      type="text"
      class="form-control"
      placeholder="Nombre"
      [value]="name()"
      (change)="name.set(nameInput.value)"
      (input)="name.set(nameInput.value)"
      #nameInput
    />
    <h3>Poder {{ power() }}</h3>
    <input
      type="number"
      class="form-control mt-2"
      placeholder="Poder"
      [value]="power()"
      (input)="power.set(+powerInput.value)"
      #powerInput
    />
    <button class="btn btn-primary mt-2" (click)="addCharacter()">
      Agregar
    </button>
  </div>
  <div class="co-12 col-sm-6">
    <h3>Lista de personajes fuertes:</h3>
    <ul>
      @for (character of characters(); track character.id; let idx = $index ) {

      <li>
        <span>{{ idx + 1 }} - {{ character.name }}</span>
        <strong
          [class.text-danger]="character.power > 900"
          [class.text-primary]="character.power > 500"
        >
          ({{ character.power }})</strong
        >
      </li>
      }
    </ul>
  </div>
</section>
